        {% load static %}
        <div class="page-content">
            <section id="featured" class="content-section">
                <div class="section-heading">
                    
                </div>
                <div class="section-content">
                    <div class="owl-carousel owl-theme">
                    {% for rs in photo %}
                        <div class="item">
                            <div class="image">
                                <img src="{{ rs.image.url }}" alt="">
                                <div class="featured-button button">
                                    <a href="/photo/{{rs.id}}">Detaya Git</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>{{ rs.title }}</h4>
                               
                            </div>
                        </div>
                        {% endfor %}
            </section>
            <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Son<br><em>Yüklenenler</em></h1>
                    
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                        {% for rs in randomphoto %}
                            <div class="item">
                                <div class="col-md-4">
                                    <a href="/photo/{{rs.id}}" ><img src="{{rs.image.url}}" ></a>
                                    <h4>{{rs.title}}</h4>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>            
            </section>
            
        </div>